{% include "top.html" %}
<div class="container">
    <div class="jumbotron">
        <h2>smartbird</h2> = wants + needs + preferences + flights
    </div>
    <div id="accordian" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Who created smartbird?
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{ url_for('static', filename='img/zach_website.jpg') }}" width="300" alt="zach picture">
                            <br>
                            <small>Photo credit : Rob Schroll, some flannel, and a nice brick wall</small>
                        </div>
                        <div class="col-sm-6">
                            <p>Hi, I'm Zach and smartbird is my capstone project as a Data Incubator Fellow. Lovingly crafted
                                in the Bay Area, smartbird improves your flying experience.</p>
                            <p> I decided to create smartbird after flying accross the country regularly and noticing that that
                                there were certain "things" I started to value more than just the price of the flight. How
                                much do I care about being on time? Do I care how comfortable the seats are? Is my connecting
                                airport good? I made smartbird to quantify the things you care abot and improve your flight
                                experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingGraph">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseGraph" aria-expanded="true" aria-controls="collapseGraph">
                        Why do we need smartbird?
                    </a>
                </h5>
            </div>
            <div id="collapseGraph" class="collapse" role="tabpanel" aria-labelledby="headingGraph" data-parent="#accordion">
                <div class="col-sm-12">
                    <p>With smartbird, you can prioritize what is important to you and allow us to figure out how to translate
                        that into a flight choice.</p>
                    <p>For example, when flying from JFK to SFO in Feb, Delta is great on average, but for those unfortunate
                        times where Saturday travel is a must, you probably want to make another choice. </p>
                    {{div|safe}}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        How does smartbird work?
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <ul>
                    <li>
                        <h5>React</h5> javascript framework by facebook used to build the user interface and interact with the
                        backend API. Anything pretty on this site is probably because of React.
                    </li>
                    <li>
                        <h5>Webpack</h5> used for bundling, collecting and minifying. Sort of like my mother when I was a child,
                        it makes sure everything is in the right place at the right time.
                    </li>
                    <li>
                        <h5>Yarn</h5> package management. This app relies on 695 javascript packages and Yarn makes that work.
                    </li>
                    <li>
                        <h5>Flask</h5> backend. Flask allows a python love like myself to craft everything with nice indentation
                        and simple syntax and send it all to the the frontend when the users want to view it.
                    </li>
                    <li>
                        <h5>postgreSQL</h5> database. Every flight for the last year, airport information, etc. It all needs
                        to go somewhere and get queried quickly, luckily, we have postgres.
                    </li>
                </ul>

            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Where does the data come from?
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="https://www.bts.gov/">United States Bureau of Transportation Statistics</a>
                        </li>
                        <li>
                            <a href="https://thepointsguy.com/guide/best-and-worst-airlines-2017/">The Points Guy</a>
                        </li>
                        <li>
                            <a href="https://developers.google.com/qpx-express/">Google Qpx</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{script | safe}} {% include "bottom.html" %}